<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         stopOnFailure="true"
         colors="true"
>
    <testsuites>
        <testsuite name="Initialization">
            <file>tests/Api/default/Initialization/ApiDefaultInitializeTest.php</file>
        </testsuite>
        <testsuite name="Api-Default-Admin">
            <file>tests/Api/default/Admin/ApiDefaultAdminValidationTest.php</file>
            <file>tests/Api/default/Admin/ApiDefaultAdminRolesTest.php</file>
            <file>tests/Api/default/Admin/ApiDefaultAdminUserTest.php</file>
            <file>tests/Api/default/Admin/ApiDefaultAdminAuthTest.php</file>
            <file>tests/Api/default/Admin/ApiDefaultAdminTenantTest.php</file>
        </testsuite>
        <testsuite name="Api-Default-Tenant">
            <directory>tests/Api/default/Tenants/Roles</directory>
            <directory>tests/Api/default/Tenants/Users</directory>
            <directory>tests/Api/default/Tenants/Account</directory>
        </testsuite>
        <testsuite name="Api-Default-Account">
            <directory>tests/Api/default/Accounts/Roles</directory>
            <directory>tests/Api/default/Accounts/Users</directory>
            <directory>tests/Api/default/Accounts/Auth</directory>
            <directory>tests/Api/default/Accounts/Validation</directory>
        </testsuite>
        <testsuite name="Api-Default-Middleware">
            <file>tests/Api/default/Admin/ApiDefaultAdminMiddlewareTest.php</file>
            <directory>tests/Api/default/Tenants/Middleware</directory>
            <directory>tests/Api/default/Accounts/Middleware</directory>
        </testsuite>
<!--        <testsuite name="Api-V1">-->
<!--            <file>tests/Api/v1/ApiV1TokenGenerateTest.php</file>-->
<!--            <file>tests/Api/v1/ApiV1PaymentSettingsIuguTest.php</file>-->
<!--            <file>tests/Api/v1/ApiV1OrdersCreationTest.php</file>-->
<!--            <file>tests/Api/v1/ApiV1WebhookTest.php</file>-->
<!--        </testsuite>-->
<!--        <testsuite name="Api-V2">-->
<!--            <file>tests/Api/v2/ApiV2TokenGenerateTest.php</file>-->
<!--            <file>tests/Api/v2/ApiV2PaymentSettingsIuguTest.php</file>-->
<!--            <file>tests/Api/v2/ApiV2OrdersValidationTest.php</file>-->
<!--            <file>tests/Api/v2/ApiV2OrdersCreationTest.php</file>-->
<!--            <file>tests/Api/v2/ApiV2WebhookTest.php</file>-->
<!--        </testsuite>-->
<!--        <testsuite name="ViewModel">-->
<!--            <file>tests/View/ViewModel/CheckoutViewModelTest.php</file>-->
<!--        </testsuite>-->
<!--        <testsuite name="View">-->
<!--            <file>tests/View/CheckoutViewTest.php</file>-->
<!--        </testsuite>-->
<!--        <testsuite name="Feature">-->
<!--            <file>tests/Feature/CreditCardSubmitTest.php</file>-->
<!--        </testsuite>-->
    </testsuites>
    <source>
        <include>
            <directory>app</directory>
        </include>
    </source>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="APP_MAINTENANCE_DRIVER" value="file"/>
        <env name="BCRYPT_ROUNDS" value="4"/>
        <env name="CACHE_STORE" value="array"/>
        <env name="MAIL_MAILER" value="array"/>
        <env name="PULSE_ENABLED" value="false"/>
        <env name="QUEUE_CONNECTION" value="sync"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="TELESCOPE_ENABLED" value="false"/>
    </php>
</phpunit>
